h1 {
    text-align: center;
}

ol :active {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol li :hover {
    background-color: aquamarine;
}

ol,
ul {
    list-style: none;
}