* {
    margin: 0;
    border: 0;
    padding: 0;
}

.super-mario {
    position: absolute;
    width: 200px;
    left: 50px;
}

.goomba {
    position: absolute;
    width: 100px;
    left: 100px;
    bottom: 80px;
}

.baloon {
    position: absolute;
    width: 200px;
    left: 550px;
    top: 150px;
}

.speach {
    position: absolute;
    width: 190px;
    left: 600px;
    top: 190px;
    z-index: 1;
}

.bowser {
    position: absolute;
    width: 200px;
    left: 750px;
    top: 250px;
}